<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
>

    <testsuites>
        <testsuite name="Insphptor Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">source</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage" lowUpperBound="50" highLowerBound="70"/>
    </logging>

</phpunit>